$body-bg: #f9f9f9;
$body-color: #333;
$primary: rgba(0, 0, 0, 0.9);
$body-secondary-bg: #fff;
$body-tertiary-bg: #eaeaea;
$btn-hover-bg-shade-amount: 0%;

@import "../node_modules/bootstrap/scss/bootstrap";

.fw-bold {
  font-weight: 700 !important;
}
.fw-normal {
  font-weight: 600 !important;
}
.fw-light {
  font-weight: 500 !important;
}

.was-validated div.is-invalid div {
  border-color: var(--bs-form-invalid-color) !important;
}

.was-validated div.is-valid div {
  border-color: var(--bs-form-valid-color) !important;
}

.was-validated div.is-invalid .form-check-input {
  border-color: var(--bs-form-invalid-color) !important;
}

.was-validated div.is-valid .form-check-input {
  border-color: var(--bs-form-valid-color) !important;
}

.was-validated div.is-invalid .form-check-label {
  color: var(--bs-form-invalid-color) !important;
}

.was-validated div.is-valid .form-check-label {
  color: var(--bs-form-valid-color) !important;
}

.was-validated div.is-invalid .invalid-feedback {
  display: block;
}

.was-validated div.is-valid .valid-feedback {
  display: none;
}
