* {
    margin: 0;
    padding: 0;
    font-family: "Gothic MB101 DemiBold", "Noto Sans JP", sans-serif;
    letter-spacing: 1.4px;
}

.fw-bold, .fw-bold * {
    font-family: "Gothic MB101 Bold", "Noto Sans JP", sans-serif;
}

.fw-normal, .fw-normal * {
    font-family: "Gothic MB101 DemiBold", "Noto Sans JP", sans-serif;
}

.fw-light, .fw-light * {
    font-family: "Gothic MB101 Medium", "Noto Sans JP", sans-serif;
}

main {
    min-height: 100vh;
}

input {
    font-family: 'Noto Sans JP', sans-serif !important;
}

section {
    max-width: 600px !important;
}

canvas {
    letter-spacing: 0 !important;
}

.balloon1 {
    position: relative;
    display: inline-block;
    margin: 1.5em 0;
    padding: 12px 0;
    font-size: 16px;
    background: #DA297B;
    border-radius: 8px;
    width: 100%;
    text-align: center;
}

.balloon1:before {
    content: "";
    position: absolute;
    top: 99%;
    left: 50%;
    margin-left: -12px;
    border: 12px solid transparent;
    border-top: 14px solid #DA297B;
}

.balloon1 p {
    color: white;
    margin-bottom: 2px;
    padding: 0;
}

.balloon2 {
    position: relative;
    display: inline-block;
    margin-top: 3rem;
    padding: 20px 24px;
    font-size: 16px;
}

.balloon2:before {
    content: "";
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -20px;
    border: 20px solid transparent;
    border-bottom: 30px solid var(--bs-secondary-bg);
}

.copied-text {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.copied-text.fade-in {
    opacity: 1;
}

.copied-text.fade-out {
    opacity: 0;
}

#draw-sketch {
    position: relative;
}

#draw-sketch .rotate-guide {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 5px);
    background: rgba(37, 39, 50, 0.80);
    transition: .1s ease-in-out;
}

#draw-sketch .rotate-guide.is-hidden {
    opacity: 0;
}

#draw-sketch .rotate-guide.is-visible {
    opacity: 1;
}